[Desktop Entry]
Type=Application
Name=New Horizons
Name[cs]=New Horizons
Name[de]=New Horizons
GenericName=Strategy Game
GenericName[cs]=Strategická hra
GenericName[de]=Strategiespiel
Comment=Heroes III: New Horizons, powered by VCMI
Comment[cs]=Heroes III: New Horizons, na enginu VCMI
Comment[de]=Heroes III: New Horizons, auf Basis von VCMI
Icon=vcmiclient
Exec=new-horizons
Categories=Game;StrategyGame;
Version=1.0
Keywords=heroes;homm3;
